@charset "UTF-8";

body {
    background-color: #e90052;
    color: #ffffff;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body, input, button {
    font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #00ff87; 
}
::-webkit-scrollbar-thumb {
    background: #38003c; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#top {
    position: fixed;
    width: 100%;
    z-index: 5;
}

#top h1 { 
    width: 100%;
    color: #38003c;
    float: left;
    height: 40px;
    background : #04f5ff;
    text-align: center;
}

#top header {
    float: left;
    width: 100%;
    height: 40px;
    padding: 5px 5px 5px 5px;
    background: #25b99a;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#top header input {
    width : 100%;
    height: 30px;
    float: left;
    color:#fff; 
    font-size:15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 35px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

#top header input::-webkit-input-placeholder {
    color: rgba(56, 0, 60, 0.75)
}

#top header button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    z-index: 2;
    border-radius: 25px;
    background: #38003c;
    border: 0px;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.container {
    position: absolute;
    width:100%;
    float:left;
    padding: 15px;
    margin: 100px 0 0 0;
}

ul.todo {
    width: 100%;
    float: left;
}

ul.todo li {
    width: 100%;
    min-height: 15px;
    float: left;
    font-size: 14;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: linear-gradient(to left, #22c1c3, #fdbb2d);
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    position: relative;
    padding: 14px 450px 14px 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.todo li:last-of-type {
    margin: 0;
}

ul.todo input.editArea {
    display: none;
    width : 47%;
    height: 30px;
    position: absolute;
    left: 10px;
    top:10px;
    z-index: 2;
    color: #38003c; 
    font-size:15px;
    font-weight: 400;
    padding: 0 35px 0 0;
    background: linear-gradient(to left, #c9d6ff, #e2e2e2);
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

ul.todo input.editArea:hover {
    background: linear-gradient(to left, #ffe259, #ffa751);
    transition: all 2s;
}

ul.todo textArea {
    display: none;
    position: absolute;
    right: 260px;
    top: 10px;
    height: 30px;
    width: 200px;
    z-index: 3;
    color: #38003c;
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    border: none;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

ul.todo textarea:focus {
    width: 50%;
    background-color: #aaa;
}

ul.todo input::-webkit-input-placeholder {
    color: rgba(56, 0, 60, 0.75)
}

ul.todo li .buttons {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

ul.todo li .buttons button{
    width: 50px;
    height: 50px;
    appearance: none;
    float: left;
    background: none;
    box-shadow: none;
    border: 0px;
    outline: none;
    position: relative;
    cursor: pointer;
    background-color: #38003c;
    transition: all 0.5s;
}

ul.todo li .buttons button:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.todo li .buttons button:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul.todo li .buttons button.complete::after {
    content: '\2713';
    color: #fff;
    font-size: 30px;
}

ul.todo li .buttons button.remove::after {
    content: '\1f5D1';
    color: #fff;
    font-size: 25px;
}

ul.todo li .buttons button.voice::after {
    content: '\1f50A';
    color: #fff;
    font-size: 25px;
}

ul.todo li .buttons button.edit::after {
    content: '\1f589';
    color: #fff;
    font-size: 25px;
}

ul.todo li .buttons button.comment::after {
    content: '\1f4ac';
    color: #fff;
    font-size: 25px;
}

ul.todo#completed li .buttons button.complete::after {
    content: '\1f5d8';
    color: #fff;
    font-size: 30px;
}

ul.todo#completed {
    position: relative;
    padding: 60px 0 0 0;
}

ul.todo#completed li{
    background: linear-gradient(to left, #11998e, #38ef7d);
}

ul.todo:not(#completed) li .buttons button.complete:hover {
    background-color: #279964;
}

ul.todo:not(#completed) li .buttons button.remove:hover {
    background-color: #555;
}

ul.todo:not(#completed) li .buttons button.voice:hover {
    background-color: darkcyan;
}

ul.todo li .buttons button.edit:hover {
    background-color: #fdbb2d;
}

ul.todo li .buttons button.comment:hover {
    background-color: #bc4e9c;
}

ul.todo#completed li .buttons button.complete:hover {
    background-color: #f8381d;
}

ul.todo#completed li .buttons button.remove:hover {
    background-color: #555;
}

ul.todo#completed li .buttons button.voice:hover {
    background-color: darkcyan;
}

ul.todo#completed:before {
    content: '';
    width: 150px;
    height: 1px;
    background: #d8e5e0;
    position: absolute;
    top : 30px;
    left: 50%;
    margin: 0 0 0 -75px;
}

ul.todo#todo:empty:after {
    content: 'Wow, such empty';
    margin: 15px 0 0 0;
}

ul.todo#completed:empty:after {
    content: 'Completed tasks appear here' ;
}

ul.todo#todo:after,
ul.todo#completed:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}
  
